.Top{
  margin: 10px 20px 0px 20px;
  border: purple 2px dotted;
  padding-top: 100px;
  text-align: center;
}
.second{
  text-align: center;
  color: green;
  font-size: 10px;
  font-weight: bold;
}
.third{
  color: orange;
  font-size: 30px;
  margin-top: 100px;
}
.span1{
  color: red;
  position: relative;
  bottom: 10px;
}
#id1{
  color: purple;
  font-size: 8px;
  text-align: right;
}
.yellow{
  color: yellow;
  font-style: italic;
  text-transform: uppercase;
}
