body{
  background-color: blue;
}
p{
  color: red
}
img{
  width: 20%;
  border: white 2px dashed;
  padding: 30px 30px 30px 30px;
}
.Box1{
  margin: 15% 10% 40% 10%;
  border: black 4px solid;
}
.Box2{
  margin: 15px 15px 15px 15px;
  border: green 1px dashed;
  padding-left: 10px;
}
